.sidebar-grid {
  --gap: clamp(1rem, 6vw, 3rem);
  display: grid;
  grid-template-columns: var(--gap)[center-start] 1fr [center-end] var(--gap);
  grid-gap: 1px;
  width: 50%;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 1px;
}