---
// Component Imports
import MainHead from '../components/MainHead.astro';
import LandingSidebar from '../components/LandingSidebar.astro';
---

<html lang="en">
	<head>
		<MainHead
			title="Mattan Ingram"
			description="Product designer and CSS developer"
		/>
	</head>
	<body>
		<div class="cursor-gradient-bg"></div>
		<LandingSidebar />
		<main class="main-content">
		</main>
	</body>
</html>

<script>
	import '../scripts/mousePosition.js'
</script>

<style lang="scss">
:global(.LandingSidebar) {
	width: 34rem;
}

.cursor-gradient-bg {
	position: fixed;
	inset: 0;
	z-index: -1;
	background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    var(--gray-500),
    transparent 40%
  );
}
</style>