---
// Component Imports
import MainHead from '../components/MainHead.astro';
import LandingSidebar from '../components/LandingSidebar.astro';
import GridSpacer from '../components/GridSpacer.astro';
import ProjectItem from '../components/ProjectItem.astro';

const workItems = await Astro.glob('./work/*.astro')
---

<html lang="en">
	<head>
		<MainHead
			title="Mattan Ingram"
			description="Product designer and CSS developer"
		/>
	</head>
	<body>
		<div class="cursor-gradient-bg"></div>
		<div class="main-layout">
			<LandingSidebar />
			<main class="main-content column-grid">
				<GridSpacer />
				<div class="flex-column gap-1px">
					<GridSpacer height="4rem" />
					<h3 class="bg-color">I worked here</h3>
					<GridSpacer height="2rem" />
					<ul class="project-list" role="list">
						{ workItems.map((workItem) => <li class="project-list-item"><ProjectItem projectDetails={workItem} /></li>) }
					</ul>
					<GridSpacer flexGrow="true" />
				</div>
				<GridSpacer />

			</main>
		</div>
	</body>
</html>

<script>
	import '../scripts/mousePosition.js'
</script>

<style lang="scss">
.cursor-gradient-bg {
	position: fixed;
	inset: 0;
	z-index: -1;
	background: radial-gradient(
    100vmax circle at var(--mouse-x) var(--mouse-y), 
    var(--gray-300),
    transparent 40%
  );
}

.main-content {
	--column-gutter: clamp(1rem, 6vw, 3rem);
}

.project-list {
	background-color: var(--background-color);
}

.project-list-item {
	& + & {
		margin-top: 1.5rem;
	}
}
</style>