---
// Component Imports
import MainHead from '../components/MainHead.astro'
import LandingSidebar from '../components/LandingSidebar.astro'
import GridSpacer from '../components/GridSpacer.astro'
import ProjectItem from '../components/ProjectItem.astro'

const jobItem = await Astro.glob('./job/*.astro')
const workItems = await Astro.glob('./work/*.astro')
const madeItems = await Astro.glob('./made/*.astro')
---

<html lang="en">
	<head>
		<MainHead title="Mattan Ingram" description="Product designer and CSS developer" />
	</head>
	<body>
		<div class="cursor-follow-bg"></div>
		<div class="main-layout">
			<LandingSidebar />
			<main class="main-content column-grid">
				<GridSpacer />
				<div class="flex-column gap-1px">
					<GridSpacer height="4rem" />
					<div class="project-columns gap-1px">
						<GridSpacer />
						<div class="flex-column gap-1px">
							<h3 class="bg-color">I work here</h3>
							<GridSpacer height="2rem" />
							<div class="bg-color">
								<ProjectItem projectDetails={jobItem[0]} />
							</div>
						</div>
						<GridSpacer width="100%" />
						<GridSpacer />
						<GridSpacer />
					</div>
					<GridSpacer height="4rem" />
					<div class="project-columns gap-1px">
						<GridSpacer />
						<div class="flex-column gap-1px">
							<h3 class="bg-color">I worked here</h3>
							<GridSpacer height="2rem" />
							<ul class="project-list" role="list">
								{
									workItems.map((workItem) => (
										<li class="project-list-item">
											<ProjectItem projectDetails={workItem} />
										</li>
									))
								}
							</ul>
						</div>
						<GridSpacer />
						<div class="flex-column gap-1px">
							<h3 class="bg-color">I made these</h3>
							<GridSpacer height="2rem" />
							<ul class="project-list" role="list">
								{
									madeItems.map((madeItem) => (
										<li class="project-list-item">
											<ProjectItem projectDetails={madeItem} />
										</li>
									))
								}
							</ul>
						</div>
						<GridSpacer />
					</div>
					<GridSpacer flexGrow="true" />
				</div>
				<GridSpacer />
			</main>

			<script>
				import '../scripts/mousePosition.js'
			</script>

			<script>
				const projectItems = document.querySelectorAll('.ProjectItem')

				function projectItemHover(event) {
					const projectColor = event.target.getAttribute('data-project-color')

					document.documentElement.style.setProperty('--cursor-follow-color', projectColor)
				}

				projectItems.forEach((item) => {
					item.addEventListener('mouseenter', projectItemHover)
				})

				projectItems.forEach((item) => {
					item.addEventListener('mouseleave', () => {
						document.documentElement.style.removeProperty('--cursor-follow-color')
					})
				})
			</script>

			<style lang="scss">
				:root {
					--cursor-follow-size: 25vmax;
					--cursor-follow-color: white;
					--cursor-follow-opacity: 0.2;
				}

				.cursor-follow-bg {
					position: fixed;
					inset: 0;
					z-index: -1;

					&::after {
						content: '';
						width: var(--cursor-follow-size);
						height: var(--cursor-follow-size);
						border-radius: 50%;
						background-color: var(--cursor-follow-color);
						position: absolute;
						transform: translate(-50%, -50%);
						top: var(--mouse-y);
						left: var(--mouse-x);
						opacity: var(--cursor-follow-opacity);
						transition: 0.2s linear;
						transition-property: opacity, background-color, box-shadow;
						box-shadow: 0 0 0 8rem var(--cursor-follow-color);
					}
				}

				body:has(.ProjectItem:hover) {
					.cursor-follow-bg {
						--cursor-follow-opacity: 0.3;
					}
				}

				.main-content {
					--column-gutter: clamp(1rem, 6vw, 3rem);
				}

				.project-columns {
					--project-max-width: 20rem;
					display: grid;
					grid-template-columns:
						minmax(0, 1fr)
						minmax(0, var(--project-max-width))
						2rem
						minmax(0, var(--project-max-width))
						minmax(0, 1fr);
				}

				.project-list {
					background-color: var(--background-color);
				}

				.project-list-item {
					& + & {
						margin-top: 1.5rem;
					}
				}
			</style>
		</div>
	</body>
</html>
