---
const { width = 'auto', height = 'auto', flexGrow = false } = Astro.props;
---

<div class:list={[ 'GridSpacer bg-color', { 'flex-grow': flexGrow }]} style={`width: ${width}; height: ${height}`}>
</div>

<style lang="scss">
.flex-grow {
	flex-grow: 1;
}
</style>
