---
import "../styles/main.scss";
const {
  title = "Mattan Ingram's Website",
  description = "The personal site of Mattan Ingram",
} = Astro.props;
---

<meta charset="UTF-8" />
<title>{title}</title>
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Figtree:wght@300..700&display=swap"
  rel="stylesheet"
/>
